body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 0.2rem;
}

.navigasjon {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    padding: 0%;
    margin: 0;
}

#logo{
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.navigasjon a{
    text-decoration: none;
    color: black;
    gap: 0;
    font-size: 17px;
}

.ikoner{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.ikoner a{
    text-decoration: none;
    color: black;
}

.global-header{
    margin-bottom: 50px;
}

.sosialemedier{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
        a{
            text-decoration: none;
            color: black;
        }
        h4{
            margin-bottom: 1rem;
        }
}

.snarveier {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: black;
    h4{
        margin-bottom: 1rem;
    }
}

.snarveier a{
    text-decoration: none;
    color: black;
}

.kontakt{
    display: flex;
    flex-direction: column;
}

.kontakt h4{
    margin-bottom: 1rem;
}

.kontakt p{
    display: flex;
    gap: 0.5rem;
    margin: 0rem 0rem 0.5rem;
}


.banner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: end;
    margin-bottom: 45px;
    padding: 30px;
    background-color: lightsteelblue;
}

.banner button {
    padding: 11px;
    background-color: white;
    color: black;
    border: none;
    font-weight: 700;
}

.tre-bokser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.boks{
    border: 0.5px solid black;
    padding: 18px;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

.parfyme-bilde{
    max-width: 100%;
    width: fit-content;
}

.anmeldelser{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 1px rgba(128, 128, 128, 0.24);
    border-radius: 2px;
    margin-bottom: 1rem;
}

.anmeldelser-bilde{
    max-width: 100%;
    width: 100px;
}

.kategori-meny{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.kategori-boks{
    border: 1px solid black;
    padding: 120px 20px;
    text-align: center;
}

.kategori-bokstre{
    border: 1px solid black;
    padding: 180px 20px;
    text-align: center;
}

.kategori-seksjon{
    margin-top: 60px;
}

.produkt-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    gap: 10px;
    a{
        text-decoration: none;
        color: black;
    }
    .her{
        font-weight: bolder;
    }
}

.parfyme-bilde-1{
    max-width: 100%;
    width: fit-content;
}

.parfyme-bilde-2{
    max-width: 80%;
    width: fit-content;
}

.produkt-info{
    margin-bottom: 40px;
}

aside{
    margin: 30px;
    .parfyme-aside{
        margin-bottom: 40px;
    }
}
