body{
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
.sosialemedier{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
}

.snarveier {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: black;
}

p {
    display: flex;
    gap: 0.5rem;
}

h4 {
    margin-bottom: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: end;
    margin: 20px;
    padding: 30px;
    background-color: lightslategrey;
}

.banner button {
    padding: 11px;
    background-color: white;
    color: black;
    border: none;
    font-weight: 800;
}

.tre-bokser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.boks{
    border: 0.5px solid black;
    padding: 18px;
    width: 80px;
    text-align: justify;
    font-weight: bold;
}

.parfyme-bilde{
    max-width: 100%;
    width: fit-content;
}

.anmeldelser-bilde{
    max-width: 100%;
    width: 100px;
}